{% extends 'main/layoute.html' %}

{% block title %}
<title>Вторая страница</title>
{% endblock %}

{% block content %}
    {% include 'main/nav.html'%}
  <div class="container mt-5">
    <h1>Услуги</h1>
    <p>Мы предлагаем широкий спектруслуг, начиная от консалтинга и заканчивая разработкой программного обеспечения. Наша команда готова предложить индивидуальные решения, которые помогут вам добиться успеха в вашем бизнесе.</p>
    <ul>
      <li>Консалтинг</li>
      <li>Разработка программного обеспечения</li>
      <li>Веб-дизайн</li>
      <li>Маркетинг и реклама</li>
    </ul>
  </div>
{% endblock %}
